body {
	background-color: #ffffff;
	margin: 0;
}

p {
	font-size: 100%;
	color: white;
	font-family: helvetica;
}

.button {
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
}

h1 {
	color: black;
	font-familY: helvetica;
}

.parent {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr 1fr 1fr 1fr 1fr 2.5fr 2.5fr;
  grid-template-rows: 0.5fr 15.5fr 5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  font-family: helvetica;
}

.parent > div {
  min-height: 50px;
  color: white;
}

.topbar1 {
  grid-area: 1 / 1 / span 1 / span 2;
  background-color: #031f30;
}

.button1 {
  grid-area: 1 / 3 / span 1 / span 1;
   border: 1px #4c9aca;
   border-right-style: solid;
   border-left-style: solid;
   text-align: center;
   background-color: #031f30;
}

.button2 {
  grid-area: 1 / 4 / span 1 / span 1;
   border: 1px #4c9aca;
   border-right-style: solid;
   text-align: center;
   background-color: #031f30;
}

.logo {
  grid-area: 1 / 5 / span 1 / span 1;
  border: 1px #8fb3ef;
  border-right-style: solid;
  text-align: center;
  background-color: #031f30;
}

.button3 {
  grid-area: 1 / 6 / span 1 / span 1;
   border: 1px #4c9aca;
   border-right-style: solid;
   text-align: center;
   background-color: #031f30;
}

.button4 {
  grid-area: 1 / 7 / span 1 / span 1;
   border: 1px #4c9aca;
   border-right-style: solid;
   text-align: center;
   background-color: #031f30;
}

.button1:hover {
	background-color: #011521;
}

.button2:hover {
	background-color: #011521;
}

.button3:hover {
	background-color: #011521;
}

.button4:hover {
	background-color: #011521;
}

.topbar2 {
  grid-area: 1 / 8 / span 1 / span 2;
  background-color: #031f30;
}


.img1 {
  grid-area: 2 / 1 / span 1 / span 9;
   background-color: #ffffff;
}

.null1 {
  grid-area: 3 / 1 / span 1 / span 9;
   background-color: #ffffff;
   text-align: center;
   vertical-align: middle;
}